<!-- Modal -->
  <div class="modal fade" id="messageModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" id="message-head">
	        <button type="button" class="close modal-close" data-dismiss="modal">
	        <span class="batch fa fa-times-circle-o fa-2x" style="color:#000000;"></span>
	        </button>
	        <h3 id="message-title"></h3>
	      </div>
        <div class="modal-body">
         <h5 id="message-content"></</h5>
        </div>
      </div>
    </div>
  </div>