<div class="modal fade" id="SignupModal" role="dialog">
  	  <div class="modal-dialog">

    	<!-- Modal content-->
    	<div class="modal-content">
    
    
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">
	        <span class="fa fa-times-circle-o fa-lg"> Close</span>
	        </button>
	        <h4><span class="fa fa-user-plus"></span>Sign Up</h4>
	      </div>
	      
	      <div class="modal-body">
	        <form role="form">
	          <div class="form-group">
	            <label for="firstname"><span class="glyphicon glyphicon-user"></span> Firstname</label>
	            <input type="text" class="form-control" id="username" placeholder="username">
	          </div>
	           <div class="form-group">
	            <label for="lastname"><span class="glyphicon glyphicon-user"></span> Lastname</label>
	            <input type="text" class="form-control" id="username" placeholder="username">
	          </div>
	           <div class="form-group">
	            <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
	            <input type="text" class="form-control" id="username" placeholder="username">
	          </div>
	          <div class="form-group">
	            <label for="password1"><span class="fa fa-key"></span> Password1</label>
	            <input type="password1" class="form-control" id="password1" placeholder="password">
	          </div>
	          <div class="form-group">
	            <label for="password2"><span class="fa fa-key"></span> Password2</label>
	            <input type="password2" class="form-control" id="password2" placeholder="password">
	          </div>
	          <button type="submit" class="btn btn-block btn-success">Sign Up
	            <span class="fa fa-user-plus"></span>
	          </button>
	        </form>
	      </div>
	 
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
	          <span class="glyphicon glyphicon-remove"></span> Cancel
	        </button>
	      </div>
	 
   		</div>
</div>
</div>