{% extends "base.html" %}
{% block title %}F1 FEEDER API DATA{% endblock title %}
{% block css %}
   {{ block.super }}
{% endblock css %}
{% block script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function()
{
  $(".next").on("click", function(e){
	  	$(".modal-bg").show();
	    $('#api_data_form').attr('action', "{% url 'f1_api_data' %}?args=next")
	    $('#api_data_form').submit();
	});
  
  $(".previous").on("click", function(e){
	  	$(".modal-bg").show();
	    $('#api_data_form').attr('action', "{% url 'f1_api_data' %}?args=previous")
	    $('#api_data_form').submit();
	});
 
  $('#btn_submit').on("click", function(e){
	  $(".modal-bg").show();
	  if ($('#id_api_list').val() == 'SOUND_CLOUD_API')
	  {
	  $('#api_data_form').attr('action', "{% url 'authenticate_soundcloud' %}")
	  $('#api_data_form').submit();
	  }
  	  else
  	  {
  		$('#api_data_form').submit();
  	  }
  });
  
  $('#home_img').on("click", function(e){
	  $(".modal-bg").show();
	  window.location = "{% url 'api_base_url' %}"
  });
});
</script>
{% endblock script %}
{% block content %}
<div class="test_fb_div container-fluid">
<a href="{% url 'home' %}" class="btn home_img">
      <span class="glyphicon glyphicon-user"></span> My Profile
  </a>
<a href="#" class="btn home_img" id="home_img">
          <span class="glyphicon glyphicon-home"></span> Home
</a>
{% block header %}<h1>F1 FEEDER API DATA</h1>{% endblock header %}
</div>
<br>
{% block form %}
   {% include "api_form.html" %}
{% endblock form %}
<br>
<div class="container">
<ul class="pager">
    <li class="previous" {% if not has_previous %}style="display:none;"{% endif %}><a href="#">Previous</a></li>
    <li class="next" {% if not has_next %}style="display:none;"{% endif %}><a href="#">Next</a></li>
</ul>
<div class="container outerbox">
  <div class="row">
  {% for each_data in api_data %}
    <div class="col-lg-4 box" align="center">
      <h5 class="label_content">Position</h5>
      <p class="data-div">{{each_data.position}}</p>
      <h5 class="label_content">Nationality</h5>
      <p class="data-div">{{each_data.Driver.nationality}}</p>
      <h5 class="label_content">Name</h5>
      <p class="data-div">{{each_data.Driver.givenName}}&nbsp;{{each_data.Driver.familyName}}</p>
      <h5 class="label_content">Vehicle</h5>
      <p class="data-div">{{each_data.Constructors.0.name}}</p>
      <h5 class="label_content">Points</h5>
      <p class="data-div">{{each_data.points}}</p>
    </div>
  {% endfor %}
  </div>
</div>
  {% block load %}
    {{ block.super }}
  {% endblock load %}
  {% endblock content %}