<!DOCTYPE html>
<html lang="en">
  <head>
  {% block title_image %}
  <link rel="icon" href="{{STATIC_URL}}images/home_image.png" type="image/png">
  {% endblock title_image %}
  <title>{% block title %} FETCH API DATA {% endblock title %}</title>  
  {% block css %}
  <link href="{{STATIC_URL}}css/id_homepage.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css">
  {% endblock css %}
  {% block script %}
  <script  src="{{STATIC_URL}}js/jquery.min.js"></script>
  <script  src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  {% endblock script %}
  <script type="text/javascript">
  $(document).ready(function()
  {
	 $("#btn_submit").on('click',function(e)
	 {
	  $(".modal-bg").show();
	  if ($('#id_api_list').val() == 'SOUND_CLOUD_API')
		  {
		  $('#api_data_form').attr('action', "{% url 'authenticate_soundcloud' %}")
		  $('#api_data_form').submit();
		  }
	  else
	  {
	  $('#api_data_form').submit();
	  }
	 });
  });
  </script>
  </head>
  <body>
  {% block content %}
  <div class="test_fb_div container-fluid">
  <a href="{% url 'home' %}" class="btn home_img">
      <span class="glyphicon glyphicon-user"></span> My Profile
  </a>
  {% block header %}<h1>FETCH API DATA</h1>{% endblock header %}
  </div>
  <br>
  {% block form %}
     {% include "api_form.html" %}
  {% endblock form %}
  {% block load %}
  <div class="modal-bg" style="display:none; background:black;opacity:0.6;">
	  <div class="loading">
	       <div class="progress">
  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
  				aria-valuenow="100" style="width:100%;background-color:#28c101;">
   				<p class="text-center">Loading...Please wait...</p>
            </div>
		  </div>
	  </div>
  </div>
  {% endblock load %}
  {% endblock content %}
  </body>
</html> 
 